
Survey.xcworkspace/xcuserdata/dominik.xcuserdatad/UserInterfaceState.xcuserstate
Survey.xcworkspace/xcuserdata/dominik.xcuserdatad/UserInterfaceState.xcuserstate
SurveyAPI/SurveyAPI.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/xcschememanagement.plist
SurveyApp/SurveyApp.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/xcschememanagement.plist
SurveyData/SurveyData.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/xcschememanagement.plist
